
<div class="top-container">
	<h1>Welcome to 
		<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
		<span class="bold">Bookers</span>  !!
	</h1>

	<p>In 
		<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
		<span class="bold">Bookers</span>,
	</p>

	<p>you can share and exchange your opinions , inpressions , and emotions</p>
	<p>about various books!</p>
	 <%= button_to "Log In", "/users/sign_in", method: :get, class:"blue-btn btn btn-primasry" %>
	 <%= button_to "Sign Up", "/users/sign_up", method: :get, class:"green-btn btn btn-primasry" %>
</div>