/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

// header
#header {
	background-color: black;
	color:white;
}

// common
.blue-btn {
	color: white;
	background-color:#3399FF;
	margin: 10px 0;
}
.green-btn {
	color: white;
	background-color: #33CC33;
	margin: 10px 0;
}
.red-btn {
	background-color: red;
	margin: 10px 0;
}
.white-btn {
	margin: 10px 0;
	border: 1px solid black;
	width: 100%;
}
.error-m {
	color: red;
}
.success-m {
	color: green;
}
.page-container {
	margin-left: 150px;
}
.form-set {
	margin: 10px 0;
}
.bold {
	font-weight: bold;
}
.center-container {
	width: 100%;
	display: inline-block;
	text-align: center;
}

// top
.top-text {
	text-align: left;
}

// _new book
.side-form {
	width: 100%;
}